.note {
    background-color: #8c8c8cd0;
    border-left: 7px solid #535353d0;
    color: #2b2b2b;
    margin: 20px 20px 20px 60px;
    padding: 20px;
    border-radius: 15px;
}

.how {
    background-color: #a5ac29d0;
    border-left: 7px solid #f5ff36d0;
    color: #f2ff00;
    margin: 20px 20px 20px 60px;
    padding: 20px;
    border-radius: 15px;
}

.warn {
    background-color: #b33232d0;
    border-left: 7px solid #ff2323d0;
    color: #4a0000;
    margin: 20px 20px 20px 60px;
    padding: 20px;
    border-radius: 15px;
}

.highlight {
    font-style: italic;
    font-weight: 600;
}

a {
    color: var(--d-accent-color);
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: var(--l-accent-color);
}

/* Floating buttons */
.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-buttons a {
    background-color: var(--d-accent-color);
    color: var(--d-txt-color);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.floating-buttons a:hover {
    transform: scale(1.1);
    background-color: var(--l-accent-color);
}

/* Tooltip base styles */
.tooltip {
    position: relative;
    cursor: pointer;
    color: #d9ff00;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.tooltip:hover::after {
    opacity: 1;
}