:root {
    color-scheme: light dark;

    /* site colors */
    --l-bg-color: #ebebeb;
    --d-bg-color: #181818;
    
    --l-bg-color-2: #d6d6d6;
    --d-bg-color-2: #1f1f1f;

    --l-bg-color-3: #c2c2c2;
    --d-bg-color-3: #2a2a2a;

    --l-txt-color: #000000;
    --d-txt-color: #fff;

    /* spacings */
    --border-radius: 25px;
    --card-gap: 10px;
    --card-padding: 20px;
}

* {
    transition: .3s ease-in-out;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: light-dark(var(--l-bg-color), var(--d-bg-color));
    color: light-dark(var(--l-txt-color), var(--d-txt-color));
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 28px;
}

p,li {
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* utility */
.marwan {
    opacity: 0.35;
    cursor: not-allowed;
    position: relative;
}

.marwan::after {
    content:'';
    position: absolute;
    width: 400px;
    height: 20px;
    background-color: red;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
    border-radius: 20px;
}

.mrg {
    margin: var(--card-gap);
}

.pdg {
    padding: var(--card-padding);
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.card > * {
    background-color: light-dark(var(--l-bg-color-2), var(--d-bg-color-2));
    margin: var(--card-gap);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
}

.lift > *:hover {
    transform: translateY(-8px);
}

.scale > *:hover {
    transform: scale(105%);
}

/* main */

.main-img {
    background-color: light-dark(var(--l-bg-color-2), var(--d-bg-color-2));
    padding: 0;
    border-radius: var(--border-radius);
    width: 300px;
    object-fit: cover;
}

/* requisites */

.requisites {
    margin-left: var(--card-padding);
}

.requisites > ul {
    display: flex;
    padding: 0;
    list-style: none;
}

/* guides */

.guide-head > h1 {
    width: fit-content;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: calc(var(--card-padding) / 2) var(--card-padding);
    background-color: light-dark(var(--l-bg-color-2), var(--d-bg-color-2));
    margin: var(--card-gap) 0 0 var(--card-gap);
}

.guide-head > ul {
    background-color: light-dark(var(--l-bg-color-3), var(--d-bg-color-3));
    width: 100%;
    height: 45px;
    border: calc(var(--card-gap) + 5px) solid light-dark(var(--l-bg-color), var(--d-bg-color));
    border-radius: calc(var(--border-radius) + 5px);
    box-shadow: -30px 30px 0 light-dark(var(--l-bg-color-2), var(--d-bg-color-2));
    z-index: -1;
    text-align: center;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
    font-size: large;
    font-weight: 800;
}

.guide-head > ul > li {
    animation: textlist 10s cubic-bezier(0, 1, 1, 0) infinite;
}

.guide-body {
    width: fit-content;
    height: 300px;
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    padding: var(--card-padding);
    background-color: light-dark(var(--l-bg-color-2), var(--d-bg-color-2));
    margin: 0 var(--card-gap) var(--card-gap) var(--card-gap);

}

@keyframes textlist {
    0% {
        transform: translateY(22.5px);
    }

    25% {
        transform: translateY(-22.5px);
    }

    50% {
        transform: translateY(-67.5px);
    }

    75% {
        transform: translateY(-112.5px);
    }

    100% {
        transform: translateY(-157.5px);
    }
}

/* responsive */

@media (max-width: 700px) {

    .flex.card {
        flex-direction: column-reverse;
    }

    .flex.scale {
        flex-direction: column;
    }

    .main-img {
        width: auto;
        height: 300px;
    }
    
}
